SetEnv USERNAME "quotesdb_0r3e_user"
SetEnv PASSWORD "czCiY34fhKSeVUt9dFdEPEtHurFkxgMI"
SetEnv DBNAME "quotesdb_0r3e"
SetEnv HOST "dpg-cnj1b88l6cac739bfbng-a.oregon-postgres.render.com"
SetEnv PORT "5432"

